<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      div.a {
      text-align: center;
      font-size: 75px;
      }
    </style>
    <meta charset="utf-8">
    <title>Twitter friends map</title>
  </head>
  <body>
  <div class="a">
    <h1>Type in user's name</h1>
      <form class="center" action="submit" method="POST">
        <input style="height:150px;width:900px;font-size:40pt;" type="text" id="username" name="username">
        <input style="height:150px;width:300px;font-size:40pt;" type="submit" value="submit">
        <div class="center"></div>
      </form>
  </div>
  </body>
</html>